<section>
    <header>
      Organizer: <strong>{{ date | async | moment: 'DD.MM.YYYY' }}</strong>
      <hr />
    </header>
  
    <main>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <input type="text" formControlName="title" placeholder="I want to do...">
  
        <button 
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid"
        >
          <i class="material-icons">add</i>
        </button>
      </form>
    </main>
  

  <footer>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong>{{i + 1}}.</strong>
          {{task.title}}
        </span>
        <button class="btn btn-primary" (click)="remove(task)">
          <i class="material-icons">delete</i>
        </button>
      </li>
    </ul>

    <ng-template #noTasks>
      <p class="text-center">No tasks yet...</p>
    </ng-template>
  </footer>
</section>
