/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --primary-color: #fe7171;
  --dark-color: #5b5252;
  --neutral-color:#ac9681;
  --light-color: #dfd5c9;
  --bg-color: #f7f4ee;
  --active-color: #8ce730;
  --itim: 'Itim', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--itim);
  font-size: 1.2rem;
  line-height: 1.6;
  background: var(--bg-color);
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
  transition: ease-out .2s;

  &:hover {
    color: var(--neutral-color);
  }
}

ul {
  list-style: none;
}

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--neutral-color);
  outline: none;
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0.2rem;
  height: 100vh;
}

table th {
  background: var(--light-color);
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: var(--dark-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: opacity .2s;

  &:disabled {
    background: var(--bg-color);
    color: var(--dark-color);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    opacity: .8;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background: var(--bg-color);
  color: var(--primary-color);
}

.text-center {
  text-align: center;
}