table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  td, th {
    border: 0.5px solid var(--dark-color);
    padding: .5rem 1rem;
  }

  td {
    text-align: center;
    transition: ease-out .2s;
    user-select: none;

    &.disabled {
      opacity: .5;
    }

    &:hover:not(.disabled) {
      background: var(--light-color);
      cursor: pointer;
    }
  }

  .active {
    color: var(--primary-color);
    font-weight: bold;
  }

  .selected {
    color: var(--active-color);
  }
}